<ul class="list-unstyled to-do-list" id="todoList">
  {{#each todos as |todo|}}
  <li class="to-do">
    <form class="form update update-done">
      <input type="hidden" name="todo[content]" value="{{todo.content}}" class="to-do-content">
      {{#if todo.done}}
      <input type="checkbox" name="todo[done]" aria-label="checkbox" class="to-do-done" value="{{todo.done}}" data-id={{todo.id}} checked>
      {{else}}
      <input type="checkbox" name="todo[done]" aria-label="checkbox" class="to-do-done" value="{{todo.done}}" data-id={{todo.id}}>
      {{/if}}
      <p class="hidden message"></p>
    </form>
    <a role="button" name="{{todo.content}}" data-id={{todo.id}} data-toggle="modal" data-target="#todoModal" class="btn btn-link btn-custom see-more">
      {{#if todo.done}}
      <s>{{todo.content}}</s>
      {{else}}
      {{todo.content}}
      {{/if}}
    </a>
    <a role="button" class="close btn btn-link btn-custom delete">
      <span data-id={{todo.id}} aria-hidden="true">&times;</span>
    </a>
  </li>
  {{/each}}
</ul>
