<div class="to-do" data-id={{todo.id}}>
  <div class="checkbox">
    <label name="{{todo.content}}">
      <input type="checkbox" name="{{todo.done}}" aria-label="checkbox" disabled> {{todo.content}}
    </label>
  </div>
  <!-- Update -->
  <div class="collapse fade" id="editFormCollapse">
    <form id="editForm">
      <div class="input-group">
        <span class="input-group-addon">
          <input type="checkbox" name="{{todo.done}}" aria-label="checkbox">
        </span>
        <input type="text" class="form-control" name="{{todo.content}}" aria-label="checkbox">
        <input type="hidden" name="{{todo.id}}" id="editFormId">
        <span class="input-group-btn">
          <button class="btn btn-default btn-custom" type="submit">Save</button>
        </span>
      </div>
    </form>
  </div>
</div>
